
body {
    background-image: url(back.png);
                
}


div#log {
    width: 700px;
    height: 500px;
    margin: 0 auto;
    border: 5px solid rgba(160, 167, 62, 0.5);
    border-radius: 7px;
    background-image: url(textura-papel-antigo.png);
    overflow-y: scroll;
}

div#sendCtrls {
    width: 180px;
    margin: 0 auto;
}

button.knopka {
    width: 177px;
    color: #fff; 
	background: #FFA500; 
	padding: 5px; 
	border-radius: 5px;
    border: 2px solid #FF8247;
} 

button.knopka:hover { 
	background: #FF6347; 
}